@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-tap-highlight-color: transparent;
}

body {
	background: radial-gradient(circle, white 10%, silver 75%) fixed;
}

/* Fix antd horizontal overflow
 * https://github.com/ant-design/ant-design/issues/10144#issuecomment-516960601 */
.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.ant-col:first-child {
  padding-left: 0 !important;
}
.ant-col:last-child {
  padding-right: 0 !important;
}
